.searchArea{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.movieContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-wrap: wrap
}
